.DS_Store
node_modules
/dist

#IDパスワード,URL関連(後にサーバー側に移行後、削除)
/src/password

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

dummy
